.recents-vehicles {
  margin: 20px 0 0;
  padding: 10px 0 20px;
  .title-section {
    width: 245px;
    margin: 10px 0 30px;
    margin-left: 5px;
  }
  .post {
    position: relative;
    &:nth-child(1) {
      padding-right: 4px;
      margin-left: -5px;
    }
    &:nth-child(2) {
      padding: 0 4px;
    }
    &:nth-child(3) {
      padding-left: 4px;
    }
    .post-card-thumb {
      width: 98%;
      height: 158px;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      img {
        height: 158px;
        left: 0;
        width: auto;
      }
    }
    .content {
      position: relative;
      padding-top: 10px;
      bottom: inherit;

      .post-title {
        position: relative;
        margin: 10px 0 15px;
        z-index: 2;
        h3 {
          font-size: 16px;
        }
      }
      .post-metas {
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: normal;
        align-items: flex-start;
        position: relative;
        z-index: 2;
        .post-date {
          margin-right: 15px;
        }
        .post-date,
        .post-views {
          h6 {
            font-size: 0.8em;
            font-weight: 200;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .recents-vehicles {
    margin: 10px 0 0;
    padding: 0;
    .title-section {
      margin: 0 0 30px 5px;
    }
    .post {
      padding: 0;
      margin: 0;
      &:nth-child(1) {
        margin: 0;
      }
      .post-card-thumb {
        width: 100%;
        height: 120px;
        img {
          height: 120px;
          left: -20%;
          position: relative;
        }
      }
      .content {
        padding: 0 0 0 10px;
        border-left: 1px solid var(--primary);
        .extra-meta,
        .post-views {
          display: none;
        }
      }
    }
    .sidebar .newsletter {
      padding-top: 0;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .recents-vehicles {
    margin: 10px 0 0;
    padding: 0;
    .title-section {
      margin: 0 0 30px 5px;
    }
    .post {
      padding: 0;
      margin: 0;
      &:nth-child(1) {
        margin: 0;
      }
      .post-card-thumb {
        width: 100%;
        height: 120px;
        img {
          height: 120px;
          left: -20%;
          position: relative;
        }
      }
      .content {
        padding: 0 0 0 10px;
        border-left: 1px solid var(--primary);
        .extra-meta,
        .post-views {
          display: none;
        }
        .post-title h3 {
          font-size: 16px;
        }
      }
    }
    .sidebar {
      .newsletter {
        padding: 0;
        width: 100%;
        background: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        .box-newsletter {
          margin: 15px 0;
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .recents-vehicles {
    margin: 10px 0 0;
    padding: 0;
    .title-section {
      margin: 0 0 30px 5px;
    }
    .posts-items {
      padding: 10px 0 10px 20px;
    }

    .post {
      padding: 0;
      margin: 0;
      .MuiGrid-item {
        padding-right: 3px;
        padding-bottom: 20px;
      }
      .post-item-1,
      .post-item-2 {
        padding-left: 0;
        padding-right: 5px;
      }

      .post-item-2,
      .post-item-4 {
        padding-right: 0;
        padding-left: 5px;
      }

      .post-card-thumb {
        width: 100%;
        height: 120px;
        top: 5px;
        img {
          height: 120px;
          left: -20%;
          position: relative;
        }
      }
      .content {
        padding: 0 0 0 10px;
        border-left: 1px solid var(--primary);
        min-height: 100px;
        .extra-meta,
        .post-views {
          display: none;
        }
        .post-title h3 {
          font-size: 16px;
        }
      }
      &:nth-child(1) {
        margin: 0;
        padding-right: 0;
      }
    }
    .sidebar {
      .newsletter {
        padding: 0;
        width: 100%;
        background: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        .box-newsletter {
          margin: 0;
        }
        .form-newsletter {
          padding: 15px 25px 25px;
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .recents-vehicles {
    margin: 10px 0 0;
    padding: 0;
    .title-section {
      margin: 0 0 30px 5px;
    }
    .posts-items {
      padding: 10px 0 10px 20px;
    }

    .post {
      padding: 0;
      margin: 0;
      .MuiGrid-item {
        padding-right: 3px;
        padding-bottom: 20px;
      }
      .post-item-1,
      .post-item-2 {
        padding-left: 0;
        padding-right: 5px;
      }

      .post-item-2,
      .post-item-4 {
        padding-right: 0;
        padding-left: 5px;
      }

      .post-card-thumb {
        width: 100%;
        height: 120px;
        top: 5px;
        img {
          height: 120px;
          left: -20%;
          position: relative;
        }
      }
      .content {
        padding: 0 0 0 10px;
        border-left: 1px solid var(--primary);
        min-height: 100px;
        .extra-meta,
        .post-views {
          display: none;
        }
        .post-title h3 {
          font-size: 16px;
        }
      }
      &:nth-child(1) {
        margin: 0;
        padding-right: 0;
      }
    }
    .sidebar {
      .newsletter {
        padding: 0;
        width: 100%;
        background: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        .box-newsletter {
          margin: 0;
        }
        .form-newsletter {
          padding: 15px 25px 25px;
        }
      }
    }
  }
}

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .recents-vehicles {
    margin: 10px 0 0;
    padding: 0;
    .title-section {
      margin: 0 0 30px 5px;
    }
    .posts-items {
      padding: 10px 0 10px 20px;
    }

    .post {
      padding: 0;
      margin: 0;
      .MuiGrid-item {
        padding-right: 3px;
        padding-bottom: 20px;
      }
      .post-item-1,
      .post-item-2 {
        padding-left: 0;
        padding-right: 5px;
      }

      .post-item-2,
      .post-item-4 {
        padding-right: 0;
        padding-left: 5px;
      }

      .post-card-thumb {
        width: 100%;
        height: 120px;
        top: 5px;
        img {
          height: 120px;
          left: -20%;
          position: relative;
        }
      }
      .content {
        padding: 0 0 0 10px;
        border-left: 1px solid var(--primary);
        min-height: 100px;
        .extra-meta,
        .post-views {
          display: none;
        }
        .post-title h3 {
          font-size: 16px;
        }
      }
      &:nth-child(1) {
        margin: 0;
        padding-right: 0;
      }
    }
    .sidebar {
      .newsletter {
        padding: 0;
        width: 100%;
        background: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        .box-newsletter {
          margin: 0;
        }
        .form-newsletter {
          padding: 15px 25px 25px;
        }
      }
    }
  }
}

@media (min-width: $screen-xl) {
  .recents-vehicles {
    margin: 10px 0 0;
    padding: 0;
    .title-section {
      margin: 0 0 30px 5px;
    }
    .posts-items {
      padding: 10px 0 10px 20px;
    }

    .post {
      padding: 0;
      margin: 0;
      .MuiGrid-item {
        padding-right: 3px;
        padding-bottom: 20px;
      }
      .post-item-1,
      .post-item-2 {
        padding-left: 0;
        padding-right: 5px;
      }

      .post-item-2,
      .post-item-4 {
        padding-right: 0;
        padding-left: 5px;
      }

      .post-card-thumb {
        width: 100%;
        height: 120px;
        top: 5px;
        img {
          height: 120px;
          left: -20%;
          position: relative;
        }
      }
      .content {
        padding: 0 0 0 10px;
        border-left: 1px solid var(--primary);
        min-height: 100px;
        .extra-meta,
        .post-views {
          display: none;
        }
        .post-title h3 {
          font-size: 16px;
        }
      }
      &:nth-child(1) {
        margin: 0;
        padding-right: 0;
      }
    }
    .sidebar {
      .newsletter {
        padding: 0;
        width: 100%;
        background: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        .box-newsletter {
          margin: 0;
        }
        .form-newsletter {
          padding: 15px 25px 25px;
        }
      }
    }
  }
}
