@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .recents-news {
    .post-featured {
      .post-title h3 {
        font-size: 18px;
      }
      .post-excerpt {
        font-size: 14px;
      }
    }
    .post-list {
      .post-item {
        .post-title h3 {
          font-size: 14px;
        }
      }
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .recents-news {
    .post-featured {
      .post-title h3 {
        font-size: 18px;
      }
      .post-excerpt {
        font-size: 14px;
      }
      .post-card-thumb {
        height: 480px;
        img {
          height: 480px;
        }
      }
    }
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .recents-news {
    .post-featured {
      .post-title h3 {
        font-size: 18px;
      }
      .post-excerpt {
        font-size: 14px;
      }
      .post-card-thumb {
        height: 480px;
        img {
          height: 480px;
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .recents-news {
    .post-featured {
      .post-content {
        .post-excerpt {
          font-size: 14px;
        }
        .post-card-thumb {
          height: 320px;
          img {
            height: 320px;
          }
        }
      }
    }
  }
}
