@media (max-width: 575.98px) {
  .sidebar {
    .ads {
      .ads-paper {
        height: 100%;
      }
    }
  }
  .ads {
    position: relative;
    .ads-container {
      .ads-square {
        width: 100%;
        height: 100%;
      }
    }
  }
}
