.lasteds-posts {
  margin: 20px 0 0;
  padding: 10px 0 20px;
  .title-section {
    width: 180px;
    margin: 10px 0 30px;
    z-index: 9;
    position: relative;
  }
  .post {
    .post-card-thumb {
      width: 100%;
      height: 200px;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      img {
        height: 200px;
        left: 0;
        position: absolute;
      }
    }
    .post-tag {
      bottom: 15px;
      left: 5px;
      margin-bottom: 0;
      right: 0;
      top: auto;
      border-radius: 3px;
      position: relative;
      text-align: center;
      display: flex;
      width: 156px;
      justify-content: center;
      background: none;
      border: none;
      &::before {
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
        background-color: var(--primary);
        border-radius: 3px;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: box-shadow 0.25s cubic-bezier(0.32, 0.74, 0.57, 1);
        transition: box-shadow 0.25s cubic-bezier(0.32, 0.74, 0.57, 1);
        z-index: 1;
      }
      > span {
        font-size: 1.15em;
        padding: 8px 16px;
        color: #fff;
        position: relative;
        z-index: 2;
      }
      &:hover {
        &::before {
          box-shadow: 0 0 10px var(--primary);
          -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
          transition: box-shadow 0.25s cubic-bezier(0.32, 0.74, 0.57, 1);
        }
      }
    }
  }
  .post-title {
    position: relative;
    margin: 0 0 15px;
    z-index: 2;
    h3 {
      font-size: 20px;
    }
  }
  .post-excerpt {
    position: relative;
    z-index: 2;
    margin: 0 0 15px;
  }
  .post-metas {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    .post-date {
      margin-right: 15px;
    }
    .post-date,
    .post-views {
      h6 {
        font-size: 0.8em;
        font-weight: 200;
      }
    }
  }
  .post-content {
    padding-right: 20px;
  }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .lasteds-posts {
    .post-list {
      .post {
        .post-title h3 {
          font-size: 14px;
        }
        .post-card-thumb {
          width: 100%;
          height: 90px;
          img {
            height: 90px;
            left: 0;
          }
        }
        .post-tag {
          width: 110px;
          height: 20px;
          bottom: 10px;
          > span {
            font-size: 0.9em;
            padding: 2px 4px;
          }
        }
      }
    }
    .ads-xs {
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .lasteds-posts {
    .post-list {
      .post {
        .post-title h3 {
          font-size: 14px;
        }
        .post-card-thumb {
          width: 100%;
          height: 90px;
          img {
            height: 90px;
            left: 0;
          }
        }
        .post-tag {
          width: 110px;
          height: 20px;
          bottom: 10px;
          > span {
            font-size: 0.9em;
            padding: 2px 4px;
          }
        }
      }
    }
    .ads-sm {
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .lasteds-posts {
    .post-list {
      .post {
        .post-title h3 {
          font-size: 14px;
        }
        .post-card-thumb {
          width: 100%;
          height: 90px;
          img {
            height: 90px;
            left: 0;
          }
        }
        .post-tag {
          width: 110px;
          height: 20px;
          bottom: 10px;
          > span {
            font-size: 0.9em;
            padding: 2px 4px;
          }
        }
      }
    }
    .ads-md {
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .lasteds-posts {
    .post-list {
      .post {
        .post-title h3 {
          font-size: 16px;
        }
      }
    }
    .ads-lg {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .ads-lg {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .brands-lg {
      margin-top: 0;
      margin-bottom: 5px;
      .sidebar {
        .brands-container {
          .brands-icons {
            margin-left: 0;
          }
        }
      }
    }
  }
}
