#footer {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAU0lEQVQ4je2RMQrAQAgE9yc5z9Pc/z+4qRIsrhEhlYUI0yzDYKhRfVOWc6h9P8uhvvnetJvXVMoyZjnksCBqzHJUdCJHRSdyVHQiR1fral3tl2oPCYHK2iR58dEAAAAASUVORK5CYII=) !important;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-top: 15px;
  margin-top: 20px;
  color: #fff;
  .footerWidget {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .icons img {
      width: 100%;
    }
  }
  .mobileTitle {
    margin: 15px 0 10px;
  }
  .mobileTitle h4 {
    padding-left: 0;
    font-size: 1.2em;
  }
  .footerTitle h2 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    color: #f7f7f7;
    line-height: 36px;
    font-weight: 900;
  }
  .tagcloud {
    margin: 0 -3px;
    font-size: 0;
    display: block;
    a {
      font-size: 12px !important;
      display: inline-block;
      background: rgba(0, 0, 0, 0.03);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-color: rgba(255, 255, 255, 0.1);
      line-height: 14px;
      margin: 3px;
      padding: 6px 10px;
      border-radius: 2px;
      color: #fff;
      text-decoration: none;
      transition: all ease 0.31s;
      &:hover {
        background-color: var(--primary);
        box-shadow: 0 0 10px var(--primary);
        color: #fff;
        border-color: var(--primary);
      }
    }
  }
  .timelineNews {
    position: relative;
    ul {
      position: relative;
      margin-top: 0;
      padding-top: 0;
      list-style: none;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: rgba(black, 0.7);
        z-index: 999;
      }
    }

    ul li {
      border-bottom: 0;
      padding-bottom: 10px;
      cursor: pointer;
    }
    li &::first-child {
      padding-top: 0;
    }
    li {
      &:hover {
        h3 {
          color: var(--primary);
        }
      }
    }
    h3 {
      font-size: 14px;
      line-height: 1.4;
      color: #fff;
      transition: all ease 0.31s;
      &:hover span::before {
        background: var(--primary);
        border-color: rgba(var(--primary), 0.5);
        transform: scale(1.2);
      }

      &::marker {
        clear: both;
        display: table;
        content: "";
      }
    }
    span {
      font-size: 12px;
      position: relative;
      color: #767676;
      line-height: 12px;
      margin-bottom: 5px;
    }
    small {
      font-size: 12px;
      i {
        color: #fff;
        margin-right: 10px;
      }
    }
  }
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
    margin: 0 0 0 10px;
    > div {
      margin: 5px;
      overflow: hidden;
      max-height: 70px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .bottomFooter {
    background: #111;
    padding: 18px 0;
    position: relative;
    border-top: 3px solid #222 !important;
    p {
      font-size: 14px;
      color: #f4f4f4;
      line-height: 30px;
      font-weight: 500;
      margin: 0;
    }
    .socials {
      width: auto;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 20px;
      li {
        display: inline-block;
        list-style: none;
        width: 35px;
        a {
          color: #555;
          font-size: 1.5em;
        }
      }
    }
  }
  .logo {
    width: 130px;
    position: relative;
    top: 0;
    display: flex;
    margin-bottom: 25px;
    h1 {
      width: 160px;
      position: relative;
      top: 12px;
      left: 5px;
      display: flex;
      flex-direction: row;
      font-size: 1.4em;
      font-family: "Russo One";
    }
    img {
      width: 46px;
      height: 46px;
      margin-top: 3px;
    }
  }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
  #footer {
    .footerWidget {
      .content-about {
        text-align: center;
      }
      .icons img {
        width: 100%;
      }
    }
    .bottomFooter {
      .socials {
        text-align: center;
        justify-content: center;
        padding-right: 0;
      }
    }
  }
}
