@media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
  #footer {
    .footerWidget {
      .content-about {
        text-align: center;
      }
      .icons img {
        width: 100%;
      }
    }
    .bottomFooter {
      .socials {
        text-align: center;
        justify-content: center;
        padding-right: 0;
      }
    }
  }
}
