.post {
  .post-tag {
    bottom: 15px;
    left: 5px;
    margin-bottom: 0;
    right: 0;
    top: auto;
    height: inherit;
    border-radius: 3px;
    position: relative;
    text-align: center;
    display: flex;
    min-width: 100px;
    justify-content: center;
    background: none;
    border: none;
    &::before {
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
      background-color: var(--primary);
      border-radius: 3px;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: box-shadow 0.25s cubic-bezier(0.32, 0.74, 0.57, 1);
      transition: box-shadow 0.25s cubic-bezier(0.32, 0.74, 0.57, 1);
      z-index: 1;
    }
    > span {
      font-size: 1.15em;
      padding: 5px 10px;
      color: #fff;
      position: relative;
      z-index: 2;
    }
    &:hover {
      &::before {
        box-shadow: 0 0 10px var(--primary);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
        transition: box-shadow 0.25s cubic-bezier(0.32, 0.74, 0.57, 1);
      }
    }
  }
}
