.post-content {
  .post-title {
    position: relative;
    margin: 10px 0 15px;
    z-index: 2;
    h3 {
      @include custom-heading(h3);
    }
    h4 {
      @include custom-heading(h4);
    }
  }
}
