@media (max-width: 575.98px) {
  .carousel-blog {
    .carousel-items {
      .slide {
        height: 400px;
        img {
          left: -55%;
        }
        &:hover {
          img {
            left: -55%;
          }
        }
        .thumb-overlay {
          &:after {
            background-image: linear-gradient(to bottom, transparent, rgba(black, 0.9));
            animation: fadein 1s;
            -moz-animation: fadein 1s; /* Firefox */
            -webkit-animation: fadein 1s; /* Safari and Chrome */
            -o-animation: fadein 1s; /* Opera */
          }
        }
        .content {
          .thumb-content {
            min-height: auto;
            bottom: 10px;
            .thumb-desc {
              max-height: 140px;
              opacity: 1;
              font-size: 13px;
            }
            .thumb-title {
              font-size: 16px;
            }
            .date {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-blog {
    .carousel-items {
      .slide {
        &:hover {
          img {
            left: -190%;
          }
        }
        .content {
          .thumb-content {
            .thumb-title {
              font-size: 16px;
            }
            .thumb-desc {
              font-size: 13px;
            }
            .date {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-blog {
    .carousel-items {
      .slide {
        &:hover {
          img {
            left: -190%;
          }
        }
        .content {
          .thumb-content {
            .thumb-title {
              font-size: 16px;
            }
            .thumb-desc {
              font-size: 13px;
            }
            .date {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-blog {
    .carousel-items {
      .slide {
        &:hover {
          img {
            left: -190%;
          }
        }
        .content {
          .thumb-content {
            .thumb-title {
              font-size: 16px;
            }
            .thumb-desc {
              font-size: 13px;
            }
            .date {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
