.sidebar {
  position: relative;
  margin-top: 90px;
  .title-section {
    margin: 20px 0;
    width: 100px;
    h2 {
      font-size: 18px;
    }
  }
  .ads {
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .social-counter {
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 1fr));
    .box {
      border-radius: 4px;
      height: 85px;
      width: 85px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      transition: all ease-in-out 0.5s;
      cursor: pointer;

      display: flex;
      margin-bottom: 10px;

      .counter-icon svg {
        width: 34px;
        height: 34px;
      }
      .num-count {
        font-size: 1.1em;
        font-weight: 500;
      }
      .counter-subscribers {
        font-size: 0.8em;
      }
    }
  }
}
