.sidebar {
  position: relative;
  .title-section {
    margin: 20px 0;
    width: 100px;
    min-width: 60px;
    h2 {
      font-size: 18px;
    }
  }
  .ads {
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .social-counter {
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 1fr));
    .box {
      border-radius: 4px;
      height: 85px;
      width: 85px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      transition: all ease-in-out 0.5s;
      cursor: pointer;

      display: flex;
      margin-bottom: 10px;

      .counter-icon svg {
        width: 34px;
        height: 34px;
      }
      .num-count {
        font-size: 1.1em;
        font-weight: 500;
      }
      .counter-subscribers {
        font-size: 0.8em;
      }
    }
  }
  .newsletter {
    padding-top: 58px;
    .box-newsletter {
      text-align: center;
      margin-top: 15px;
      border-radius: 4px;
      background: repeating-linear-gradient(
        45deg,
        #3c83f1,
        #3c83f1 10px,
        #ea4235 10px,
        #ea4235 20px
      );
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
    .form-newsletter {
      display: flex;
      margin: 5px;
      border-radius: 5px;
      padding: 30px 25px 25px;
      background-image: url(/assets/images/bg-news.png);
      h3 {
        font-size: 1.4em;
        font-weight: 600;
        color: var(--secondary);
        text-transform: uppercase;
        margin-bottom: 20px;
        position: relative;
        &::before {
          content: "";
          bottom: -10px;
          width: 52%;
          height: 2px;
          position: absolute;
          top: auto;
          background: orange;
          left: 25%;
        }
        &::after {
          content: "";
          bottom: -16px;
          width: 40%;
          height: 2px;
          position: absolute;
          top: auto;
          background: orange;
          left: 30%;
        }
      }
      input {
        background: #fff;
        color: var(--secondary);
      }
      button {
        padding: 5px;
        background: orange;
        border-radius: 5px;
        color: var(--secondary);
      }
      p {
        background: #ffffff9e;
        color: #333;
        height: auto;
        padding: 5px;
        font-size: 0.8em;

        margin-bottom: 10px;
        border-radius: 5px;
      }
      .mui-style-kx1iyh-MuiFormLabel-root-MuiInputLabel-root {
        color: var(--secondary);
      }
      label[data-shrink="false"]
        + .MuiInputBase-formControl
        .mui-style-p51h6s-MuiInputBase-input-MuiOutlinedInput-input {
        border: 1px solid;
        border-radius: 4px;
      }
    }
  }
  .tags-container {
    .title-section {
      width: 80px;
      min-width: 50px;
    }
    .tags-cloud {
      position: relative;
      z-index: 9;
      margin-left: -10px;
      a {
        border-radius: 3px;
        margin: 3px;
        padding: 5px;
        border: 1px solid var(--secondary);
        transition: all ease-in-out 0.5s;
        color: #fff;
        background-color: var(--secondary);
        &:hover {
          box-shadow: 0 0 10px var(--primary);
          background-color: var(--primary);
          border-color: var(--primary);
        }
      }
    }
    &.tag-dark {
      .tags-cloud {
        a {
          border: 1px solid rgba(255, 255, 255, 0.23);
          background-color: rgba(255, 255, 255, 0.23);
          &:hover {
            box-shadow: 0 0 10px var(--primary);
            background-color: var(--primary);
            border-color: var(--primary);
          }
        }
      }
    }
  }
  .brands-container {
    .brands-icons {
      position: relative;
      z-index: 9;
      margin-left: -15px;
      .brand-item {
        height: 64px;
        padding: 8px;
        width: 64px;
        transition: all ease-in-out 0.3s;
        img {
          height: 48px;
          width: 48px;
          background: #fff;
          border-radius: 4px;
        }
        &:hover {
          box-shadow: 0 3px 9px var(--secondary);
          -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
        }
      }
    }
  }
  .archive-container {
    .title-section {
      width: 80px;
      min-width: 50px;
    }
    .archive-posts {
      li {
        border-bottom: 1px dotted var(--secondary);
        padding: 0;
        height: 30px;
        margin: 4px 0;
        .icon-container {
          position: absolute;
          left: 0;
          min-width: 36px;
          transition: all ease-in-out 0.3s;
        }
        &:hover {
          .icon-container {
            left: 10px;
            svg {
              fill: var(--primary);
              color: var(--primary);
            }
          }
          .count {
            background: var(--primary);
          }
        }
      }
      .button {
        justify-content: flex-start;
        padding-left: 36px;
      }
      .count {
        padding: 0 5px;
        border-radius: 4px;
        background: var(--secondary);
        font-size: 1.2em;
        color: #fff;
        transition: all ease-in-out 0.3s;
      }
    }
  }
  .readmore {
    display: flex;
    position: absolute;
    right: 0;
    p {
      font-family: "Exo 2";
      font-weight: 500;
      transition: all ease-in-out 0.3s;
    }
    &:hover {
      p {
        color: var(--primary);
      }
    }
  }
}
