.megamenu{
    background: rgba(234,237,240,.8);
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    transition: background-color .25s ease;
    padding: 0;
    .container{
    position: relative;
  }
    .navbar-nav{
    li {
      a{
        display: block;
        position: relative;
        text-transform: uppercase;
        text-decoration: none !important;
        font-style: normal;
        color: #232628;
        font-size: 0.9em;
        padding: 15px 20px;
        font-family: 'Montserrat', sans-serif;
        @extend .trans-eio-3s;
      }
      &:hover {
        border-bottom: 2px solid $orange;
        > a {
          background-color: $orange;
          color: #fff !important;
        }
      }
      &.active{
        border-bottom: 2px solid $orange;
        > a{
          font-weight: 600;
        }
      }
    }
  }
    .navbar-toggler-icon{
      font: normal normal normal 18px/1 FontAwesome;
      line-height: 1.3em;
     &:before{
         content: "\f0c9";
     }
  }
    .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
  }
    .dropdown-menu {
    border:none;
    background: rgba(255,255,255,1);
    margin: 0;
    padding: 20px 0;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    .menu-title{
      text-transform: uppercase;
      margin-left: 10px;
      margin-bottom: 15px;
      padding-bottom: 5px;
      display: block;
      font-weight: 600;
      border-bottom: 1px solid #ccc;
      font-size: 0.9rem;
    }
    ul{
      margin: 0;
      padding: 0;
      li{

        a{
          padding: 5px 0;
          font-size: 0.8rem;
          text-transform: none;
          font-weight: normal;

        }
      }
    }
    .list-vehicle{
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        width: 48%;
        margin: 2px 1%;
        text-align: center;
        a{
          text-decoration: none;
          padding: 5px 0;
        }
        h5 {
          padding: 0;
          margin: 0;
          color: #222;
          font-size: 1.2em;
        }
        img{
          max-width: 85%;
        }
        &:hover{
          a{
            background: inherit;
          }
        }
      }
    }
    .list-brands{
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        width: 48%;
        margin: 2px 1%;
        text-align: left;
        a{
          display: inline-block;
          text-decoration: none;
          font-weight: bold;
          margin: 1px 10px;
          padding: 2px !important;
        }
        &:hover{
          background: $orange;
          color: #fff;
          padding-left: 10px;
          a{
            background: none;
          }
        }
      }
    }
    .media{
      margin: 0px;
      font-size: 0.9em;
      a{
        text-decoration:  none;
        padding: 0;
      }
      h4{
        font-size: 1.2em;
        text-transform: uppercase;
        padding: 0;
        margin: 15px 0 0;
        color: $orange;
        font-weight: 800;
      }
    }
    .border-b{
      border-bottom: 1px solid #ccc;
    }
    .hand-shake{
      img{
        height: 140px;
      }
    }
    .list-services{
      margin: 0 0 10px;
      display: inline-block;
      padding: 0;
      list-style: none;
      li {
        float: left;
        width: 48%;
        margin: 2px 1%;
        text-align: left;
        a{
          text-decoration: none;
          margin: 1px 10px;
          padding: 2px !important;
          text-transform: capitalize;
          display: inline-block;
        }
      }
    }
    .list-group-sm{
      a{
        font-size: 12px;
        padding: 10px 20px;
      }
    }
  }
    .icon-search{
    cursor: pointer;
  }
    .btn-gray{
        font-size: 0.8em;
    }
}
