.middle-header{
  background-color: $dark;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  padding: 11px 0;
  color: #FFF;
  .logo{
    width: 160px;
    position: relative;
    span{
      visibility: hidden;
      position: absolute;
    }
    link{
      color: #FFF;
      text-decoration: none;
    }
    img{
      width: 100%;
      margin-top: 5px;
    }
    &:before{
      content: ' ';
      position: absolute;
      height: 40px;
      width: 2px;
      right: -15px;
      top: 10px;
      border-right: 1px dotted #fff;
      display: block;
    }
  }
  .logo-um1{
    position: relative;
    top: 10px;
    margin-right: 0;
    left: -20%;
    img{
      width: 40px;
    }
    h2{
      font-size: 14px;
      position: absolute;
      left: 50px;
      top: 10px;
    }
  }
  .user-box{
    list-style-type: none;
    position: relative;
    right: 11px;
    float: right;
    li{
      position: relative;
        svg{
          width: 36px;
          height: 36px;
          float: left;
          margin-right: 10px;
          position: relative;
          top: 7px;
        }
      }
    }
}
