@media (max-width: 575.98px) {
    .toolbar{
        .nav,
        .list-inline,
        .user-box{
            li {
                a {
                    font-size: 0.7em;
                    border-right: inherit;
                }
            }
        }
        .d-xs-block{
            display: block !important;
        }
    }
    .middle-header{
        .logo {
            width: 45px;
            position: relative;
            a{
                overflow: hidden;
                width: 45px;
                display: block;
                img{
                    width: 170px;
                    max-width: inherit;
                }
            }
            &:after{
                content: ' ';
                position: absolute;
                height: 40px;
                width: 2px;
                right: -15px;
                top: 10px;
                border-right: 1px dotted #fff;
                display: block;
            }
        }
        .logo-um1{
            left: -68%;
            width: 260px;
            h2{
                top: 0;
                font-size: 0.9em;
            }
        }
    }
    .form-header{
        .input-search{
            font-size: 0.9em;
        }
        .input-group {
            flex-wrap: initial;
        }
        .btn-gray{
            font-size: 0.8em;
        }
    }
    .megamenu{
        .navbar-toggler {
            padding: 5px 0 0;
            font-size: 0.95rem;
            line-height: 1em;
            text-transform: uppercase;
            margin-top: 4px;
            margin-left: 5px;
        }
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .toolbar{
        .nav,
        .list-inline,
        .user-box{
            li {
                a {
                    font-size: 0.7em;
                    border-right: inherit;
                }
            }
        }
    }
    .middle-header{
        .logo-um1{
            left: -12%;
            h2{
                top: 0;
                font-size: 0.9em;
            }
        }
    }
    .form-header{
        .input-search{
            font-size: 0.9em;
        }
        .input-group {
            flex-wrap: initial;
        }
        .btn-gray{
            font-size: 0.8em;
        }
    }
    .megamenu{
        .navbar-toggler {
            padding: 5px 0 0;
            font-size: 1.1rem;
            line-height: 1em;
            text-transform: uppercase;
            margin-top: 4px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .toolbar{
        .nav,
        .list-inline,
        .user-box{
            li {
                a { font-size: 0.7em; }
            }
        }
    }
    .middle-header{
        .logo-um1{
            left: -50px;
            h2{
                top: 0;
                font-size: 0.8em;
            }
        }
    }
    .form-header{
        .input-search{
            font-size: 0.8em;
        }
        .input-group {
            flex-wrap: initial;
        }
        .btn-gray{
            font-size: 0.7em;
        }
    }
    .megamenu{
        .navbar-nav{
            li {
                &:first-child{
                    display: none;
                }
                a {
                    font-size: 0.65em;
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .toolbar{
        .nav,
        .list-inline,
        .user-box{
            li {
                a { font-size: 0.75em; }
            }
        }
    }
    .middle-header{
        .logo-um1{
            left: -12%;
            h2{
                top: 10px;
            }
        }
    }
    .form-header{
        .input-search{
            font-size: 0.85em;
        }
        .input-group {
            flex-wrap: initial;
        }
        .btn-gray{
            font-size: 0.8em;
        }
    }
    .megamenu{
        .navbar-nav{
            li {
                a {
                    font-size: 0.75em;
                }
            }
        }
    }
    .navbar {
        padding-top:0px;
        padding-bottom:0px;
    }
    .navbar .nav-item {
        margin:0 .25rem;
    }
    .navbar .dropdown { position:static; }
    .navbar .dropdown-menu {
        width:100%;
        left:0;
        right:0;
        top:48px;
    }
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
        display:block!important;
    }
}
