* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    float: left;
  }
}

.btn-mini {
  font-size: 0.85em;
  padding: 2px 10px;
}

a {
  cursor: pointer !important;
}

.theme-dark,
.theme-light {
  transition: all ease-in-out 0.3s;
  main {
    transition: all ease-in-out 0.3s;
  }
}

.theme-dark {
  color: #fff;
  background-color: #121212;
  #header {
    .hot-news {
      .hot-slider {
        a {
          color: #fff;
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }
  .MuiMenu-paper {
    background-color: #121212;
    li {
      color: #fff;
    }
  }
  .MuiDrawer-paper {
    background-color: var(--secondary);
  }
  main {
    color: #fff;
    background-color: #121212;
    .icon-home {
      fill: #aaa;
    }
    .recents-news {
      .post-featured,
      .post-list {
        .post-counter {
          color: #212121 !important;
        }
      }
    }
    .sidebar {
      .ads {
        .ads-paper {
          background-color: var(--secondary) !important;
        }
      }
      .newsletter {
        background-color: var(--secondary) !important;
      }
      .brands-container {
        .brands-icons {
          > div {
            background-color: var(--secondary) !important;
          }
        }
      }
      .archive-container {
        .archive-posts {
          ul {
            li {
              border-bottom: 1px dotted var(--secondary);
              &:hover {
                .icon-container {
                  svg {
                    fill: var(--primary);
                    color: var(--primary);
                  }
                }
                .count {
                  background: var(--primary);
                }
              }
              .icon-container {
                svg {
                  fill: #aaa;
                  color: #aaa;
                }
              }
            }
          }
        }
      }
    }
    .recents-news,
    .vehicle-evaluation,
    .recents-vehicles,
    .lasteds-posts {
      .post-metas {
        .post-date,
        .post-views {
          h6 {
            color: #aaa;
          }
        }
      }
    }
  }
}

.theme-light {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  main {
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
    .icon-home {
      fill: var(--secondary);
    }
  }
}

.bg-light {
  background-color: #eee;
}

.bg-dark {
  background-color: #212121;
}

main {
  margin-bottom: 30px;
}

.image-block {
  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.skeleton {
  position: relative;
  top: -5px;
}

.sticky-transitions {
  @extend .trans-eio-3s;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}

.mtb-1 {
  margin: 10px 0;
}

.mtb-2 {
  margin: 20px 0;
}

.mtb-3 {
  margin: 30px 0;
}

.mtb-4 {
  margin: 40px 0;
}

.mtb-5 {
  margin: 50px 0;
}

.block {
  display: block;
}

.trans-eio-5s {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.trans-eio-3s {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.delay-1s {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.delay-2s {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.delay-3s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.delay-4s {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.delay-5s {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.show {
  display: block !important;
}

.bold {
  font-weight: bold;
}

.o-hidden {
  overflow: hidden;
}

.breadcrumb {
  padding: 5px 10px;
  .breadcrumb-item {
    font-size: 0.8em;
    a {
      color: $orange;
    }
  }
}

.alert-warning {
  background: rgba(245, 175, 80, 0.2);
  color: #555;
  font-size: 1.1em;
  border-color: rgba(245, 175, 80, 0.3);
}

.align-right {
  text-align: right;
}

.bs-facebook {
  box-shadow: 0 5px 15px var(--bg-facebook);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

.bs-linkedin {
  box-shadow: 0 5px 15px var(--bg-linkedin);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

.bs-twitter {
  box-shadow: 0 5px 15px var(--bg-twitter);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

.bs-instagram {
  box-shadow: 0 5px 15px var(--bg-instagram);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

.bs-rss {
  box-shadow: 0 5px 15px var(--bg-rss);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

.bs-youtube {
  box-shadow: 0 5px 15px var(--bg-youtube);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

.bg-facebook {
  background-color: var(--bg-facebook);
  &:hover {
    @extend .bs-facebook;
  }
}

.bg-linkedin {
  background-color: var(--bg-linkedin);
  &:hover {
    @extend .bs-linkedin;
  }
}

.bg-twitter {
  background-color: var(--bg-twitter);
  &:hover {
    @extend .bs-twitter;
  }
}

.bg-instagram {
  background-color: var(--bg-instagram);
  &:hover {
    @extend .bs-instagram;
  }
}

.bg-rss {
  background-color: var(--bg-rss);
  &:hover {
    @extend .bs-rss;
  }
}

.bg-youtube {
  background-color: var(--bg-youtube);
  &:hover {
    @extend .bs-youtube;
  }
}

.post-title {
  h3 {
    font-weight: 600;
    font-family: "Lato";
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  &:hover {
    h3 {
      color: var(--primary);
    }
  }
}

.title-section {
  position: relative;
  min-width: 130px;
  padding: 3px 10px;
  margin: 10px 0 20px;
  h2 {
    font-size: 22px;
    font-weight: 500;
    font-family: "Exo 2";
    padding-left: 5px;
  }
  &:after {
    border-left: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
  }
}

.post-card-thumb,
.vehicle-card-thumb {
  img {
    transition: all ease-in-out 0.3s;
  }
  &:hover {
    img {
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
}

.breadcrumb ol {
  > li a {
    svg {
      position: relative;
      top: 3px !important;
      width: 16px !important;
      height: 16px !important;
      margin-right: 5px;
    }
  }
  li {
    margin: 0;
    a {
      font-size: 0.8em;
      transition: all ease-in-out 0.3s;
      &:hover {
        color: var(--primary);
      }
      svg {
        width: 0.6em;
        height: 0.6em;
        top: 1px;
        position: relative;
      }
    }
  }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .visible-xs {
    display: block;
    visibility: visible;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .visible-sm {
    display: block;
    visibility: visible;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .visible-md {
    display: block;
    visibility: visible;
  }
}
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .visible-lg {
    display: block;
    visibility: visible;
  }
}

@media (min-width: $screen-xl) {
  .visible-xl {
    display: block;
    visibility: visible;
  }
}
