$font-family: 'Montserrat', 'Lato', sans-serif;
$font-size: 0.875rem;

$dropdown-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

// PATHS
$assets: '/assets';
$img: '#{$assets}/images';
$png: '#{$img}/png';
$svg: '#{$img}/svg';

// SIZES ICONS
$sizes: (
        icon-mini: 16px,
        icon-small: 32px,
        icon-medium: 64px,
        icon-large: 128px,
        icon-big: 256px,
        logo: 100%
);

// BTN FORMATS
$btns: (
        rounded : 3%,
        square : 1%,
        circle : 50%,
);

// COLORS
$color-50: #e0f2f1;
$color-200: #e07f3e;
$color-400: #ed7221;
$color-500: #e56d1d;
$color-600: #d8671c;
$color-700: #cc6119;

$color-red-error: rgb(185, 74, 72) !default;
$color-green-success: #28a745;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$orange: #cc6119 !default;
$default: #f2f2f2 !default;
$gray: #343a40;

$white: #fff !default;
$red: #f44336 !default;
$pink: #e91e63 !default;
$purple: #9c27b0 !default;
$deepPurple: #673ab7 !default;
$indigo: #3f51b5 !default;
$blue: #2196f3 !default;
$lightBlue: #03a9f4 !default;
$cyan: #00bcd4 !default;
$teal: #009688 !default;
$green: #4caf50 !default;
$lightGreen: #8bc34a !default;
$lime: #cddc39 !default;
$yellow: #ffeb3b !default;
$amber: #ffc107 !default;
$deepOrange: #ff5722 !default;


$grays: () !default;
$grays: map-merge(
                (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
                ),
                $grays
);

$colors: () !default;

$colors: map-merge(
                (
                        "white": $white,
                        "orange": $orange,
                        "gray": $gray-700,
                        "pink": $pink,
                        "red": $red,
                        "blue": $blue,
                        "green": $green,
                        "yellow": $yellow,
                        "purple": $purple,
                        "deepPurple": $deepPurple,
                        "indigo": $indigo,
                        "lightBlue": $lightBlue,
                        "cyan": $cyan,
                        "teal": $teal,
                        "lightGreen": $lightGreen,
                        "lime": $lime,
                        "amber": $amber,
                        "deepOrange": $deepOrange,
                ),
                $colors
);

$theme-colors: () !default;

$theme-colors: map-merge(
                (
                        "white": $white,
                        "orange": $orange,
                        "default": $default,
                        "gray": $gray-700,
                        "red": $red,
                        "pink": $pink,
                        "blue": $blue,
                        "green": $green,
                        "yellow": $yellow,
                        "purple": $purple,
                        "deepPurple": $deepPurple,
                        "indigo": $indigo,
                        "lightBlue": $lightBlue,
                        "cyan": $cyan,
                        "teal": $teal,
                        "lightGreen": $lightGreen,
                        "lime": $lime,
                        "amber": $amber,
                        "deepOrange": $deepOrange,
                ),
                $theme-colors
);
