.vehicle-evaluation {
  margin: 20px 0 0;
  padding: 10px 0 20px;
  .title-section {
    width: 250px;
    margin: 20px 0;
  }

  .post-featured,
  .post-featured-2 {
    position: relative;
    padding-right: 10px;
    .post-card-thumb {
      width: 100%;
      height: 345px;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, black, transparent);
      }
      img {
        height: 345px;
        left: -20%;
        position: absolute;
        transition: all ease-in-out 0.3s;
      }
      &:hover {
        img {
          transform: scale(1.1);
          -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
        }
      }
    }
  }
  .post-featured {
    padding-right: 0;
    .content {
      position: absolute;
      z-index: 9;
      bottom: 10px;
      left: 0;
      padding: 10px;
      .post-title {
        h3 {
          color: #fff;
        }
      }
      .post-metas {
        h6 {
          color: #fff;
        }
      }
      .review-extra {
        color: #fff;
      }
    }
    &:hover {
      .post-title {
        h3 {
          color: var(--primary);
        }
      }
    }
  }
  .post-featured-2 {
    position: relative;
    padding: 0 10px;
    &:nth-child(2) {
      padding-right: 0;
    }
    .post-card-thumb {
      height: 210px;
      img {
        height: 210px;
        left: 0;
      }
    }
    .content {
      position: relative;
      padding: 10px;
      bottom: inherit;
    }
  }

  .post-title {
    position: relative;
    margin: 10px 0 15px;
    z-index: 2;
    h3 {
      font-size: 18px;
      font-weight: 600;
      font-family: "Lato";
      cursor: pointer;
      transition: all ease-in-out 0.3s;
    }
    &:hover {
      h3 {
        color: var(--primary);
      }
    }
  }

  .post-metas {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    .post-date {
      margin-right: 15px;
    }
    .post-date,
    .post-views {
      h6 {
        font-size: 0.8em;
        font-weight: 200;
      }
    }
  }
}
