$box-featured-6-height: 320;
$box-featured-4-height: 240;
$box-postlist-4-height: 120;
$box-postlist-3-height: 120;
$box-featured-6: 320;
$box-featured-4: 380;
$box-postlist-default: 110;
$box-postlist-4: 220;
$box-postlist-6: 160;

#home {
  .recent-posts,
  .vehicle-evaluation,
  .recents-vehicles,
  .posts-videos,
  .lasteds-posts {
    .title-section {
      margin: 20px 0;
    }
    .post-featured {
      .post {
        &.size-lg,
        &.size-xl {
          .post-content {
            top: -40px;
            min-height: $box-featured-6 / 2 + px;
            .post-counter {
              right: -20px;
              bottom: 0;
            }
          }
          .post-tag {
            bottom: 35px;
            width: 160px;
            left: 15px;
            > span {
              @include font-size(20px);
              padding: 2px 4px;
            }
          }
          .post-metas {
            .post-date {
              h6 {
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
    .post-list {
      .post {
        &.size-lg,
        &.size-xl {
          .post-content {
            top: -10px;
            min-height: $box-postlist-4-height + px;
            .post-counter {
              right: 0;
              bottom: 0;
              font-size: 48px;
            }
          }
          .post-tag {
            bottom: 35px;
            width: 90px;

            > span {
              @include font-size(16px);
              padding: 2px 4px;
            }
          }
          .post-metas {
            .post-date {
              h6 {
                font-size: 0.9em;
              }
            }
            .post-views {
              display: none;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

#home {
  .recent-posts {
    margin-bottom: 20px;
    .title-section {
      max-width: 120px;
    }
    .post-featured {
      .post {
        &.size-lg,
        &.size-xl {
          .post-tag {
            > span {
              @include font-size(20px);
            }
          }
        }
        &.size-xs {
          @include box-img-size(220);
          .post-content {
            margin-top: -40px;
            .post-counter {
              right: -15px;
              font-size: 64px;
            }
            .post-excerpt {
              display: none;
            }
          }
          .post-tag {
            bottom: 37px;
            width: 160px;
            > span {
              @include font-size(18px);
            }
          }
        }
        &.size-sm,
        &.size-md {
          @include box-img-size(280);
          .post-tag {
            bottom: 37px;
            width: 160px;
            > span {
              @include font-size(20px);
            }
          }
          .post-content {
            margin-top: -40px;
            .post-counter {
              right: -15px;
              font-size: 64px;
            }
            .post-excerpt {
              display: none;
            }
          }
        }
      }
    }
    .post-list {
      .post {
        &.size-sm,
        &.size-md,
        &.size-lg,
        &.size-xl {
          @include box-img-size($box-postlist-default);
        }
        &.size-xs {
          margin-bottom: -20px;
          @include box-img-size(110);
          .post-content {
            .post-counter {
              right: -15px;
              font-size: 64px;
            }
            .post-metas {
              .post-views {
                display: none;
                visibility: hidden;
              }
            }
          }
          .post-tag {
            bottom: 37px;
            width: 90px;
            > span {
              @include font-size(18px);
            }
          }
        }
        &.size-sm,
        &.size-md {
          margin-bottom: -20px;
          .post-tag {
            bottom: 37px;
            width: 110px;
            > span {
              @include font-size(16px);
            }
          }
          .post-content {
            .post-counter {
              right: 0;
              bottom: 0;
              font-size: 48px;
            }
            .post-metas {
              .post-views {
                display: none;
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
  .vehicle-evaluation {
    .title-section {
      max-width: 255px;
    }
    .post-featured {
      .post {
        &.size-lg,
        &.size-xl {
          .post-content {
            top: auto;
            bottom: -10px;
            .post-title {
              h3,
              h4 {
                color: #fff;
              }
            }
          }
          .post-tag {
            > span {
              @include font-size(20px);
            }
          }
        }
        &.size-xs {
          @include box-img-size(360);
        }
        &.size-sm,
        &.size-md {
          @include box-img-size(360);
          .post-content {
            .post-title {
              h3,
              h4 {
                color: #fff;
              }
            }
          }
        }
      }
    }
    .post-list {
      .post {
        &.size-lg,
        &.size-xl {
          @include box-img-size($box-postlist-4);
          .post-content {
            top: -30px;
            min-height: $box-postlist-4-height + px;
            .post-metas {
              .post-views {
                display: flex;
                visibility: visible;
              }
            }
            .post-title h3 {
              @include custom-heading(h4);
            }
          }
        }
        &.size-xs {
          .post-content {
            .post-metas .post-views,
            .review-meta-inner .extra-meta {
              display: none;
              visibility: hidden;
            }
          }
        }
        &.size-sm,
        &.size-md {
          @include box-img-size(160);
          .post-content {
            .post-metas .post-views,
            .review-meta-inner .extra-meta {
              display: none;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
  .recents-vehicles {
    margin-bottom: 40px;
    .title-section {
      max-width: 250px;
    }
    .post-featured {
      .post {
        &.size-sm,
        &.size-md {
          @include box-img-size(270);
          .post-content {
            margin-top: -30px;
          }
        }
      }
    }
    .post-list {
      .post {
        &.size-sm,
        &.size-md,
        &.size-lg,
        &.size-xl {
          @include box-img-size($box-postlist-default);
        }
        &.size-xs {
          @include box-img-size(130);
        }
        &.size-xs,
        &.size-sm,
        &.size-md {
          .post-content {
            .post-metas {
              .post-views {
                display: none;
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
  .posts-videos {
    .title-section {
      max-width: 100px;
      min-width: 80px;
    }
    .post-featured {
      .post {
        &.size-sm,
        &.size-md,
        &.size-lg,
        &.size-xl {
          .post-content {
            min-height: inherit;
          }
          .post-tag {
            > span {
              @include font-size(20px);
            }
          }
          .box-play {
            top: 35%;
          }
        }
        &.size-xs {
          @include box-img-size(240);
          .post-content {
            margin-top: -30px;
          }
          .box-play {
            top: 30%;
            left: 43%;
          }
        }
        &.size-sm,
        &.size-md {
          .post-content {
            margin-top: -30px;
          }
        }
      }
    }
    .post-list {
      .post {
        &.size-lg,
        &.size-xl {
          @include box-img-size($box-postlist-6);
          .post-metas {
            .post-views {
              display: flex;
              visibility: visible;
            }
          }
          .box-play {
            top: 36%;
            left: 17%;
          }
        }
        &.size-xs {
          margin-bottom: -10px;
          @include box-img-size(120);
          .post-content {
            margin-top: -10px;
            .post-metas {
              .post-views {
                display: none;
                visibility: hidden;
              }
            }
          }
          .box-play {
            top: 36%;
            left: 12%;
          }
        }
        &.size-sm,
        &.size-md {
          @include box-img-size($box-postlist-default);
          .post-content {
            .post-metas {
              .post-views {
                display: none;
                visibility: hidden;
              }
            }
          }
          .box-play {
            top: 33%;
            left: 15%;
          }
        }
      }
    }
  }
  .lasteds-posts {
    .title-section {
      min-width: 50px;
      max-width: 130px;
    }
    .post-list {
      .post {
        &.size-lg,
        &.size-xl {
          @include box-img-size($box-postlist-4);
          .post-tag {
            > span {
              @include font-size(20px);
            }
          }
        }
        &.size-xs {
          margin-bottom: -20px;
          @include box-img-size(110);
          .post-content {
            .post-metas {
              .post-views {
                display: none;
                visibility: hidden;
              }
            }
          }
          .post-tag {
            bottom: 37px;
            width: 90px;
            > span {
              @include font-size(18px);
            }
          }
        }
        &.size-sm,
        &.size-md {
          margin-bottom: -30px;
          @include box-img-size($box-postlist-default);
          .post-tag {
            bottom: 37px;
            width: 110px;
            > span {
              @include font-size(16px);
            }
          }
          .post-content {
            .post-metas {
              .post-views {
                display: none;
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  #home {
    .recent-posts {
      .post-featured {
        .post {
          .post-content {
            .post-metas {
              .post-views {
                display: none;
                visibility: hidden;
              }
            }
          }
        }
      }
      .post-list {
        .post {
          .post-content {
            .post-metas {
              .post-views {
                display: flex;
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #home {
    .recent-posts {
      .post-featured {
        .post {
          .post-content {
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #home {
    .recent-posts {
      margin-bottom: 0;
      .post-featured {
        .post {
          &.size-lg {
            .post-content {
              min-height: inherit;
              .post-excerpt {
                display: none;
              }
              .post-counter {
                font-size: 80px;
              }
            }
          }
        }
      }
      .post-list {
        .post {
          .post-content {
            .post-title {
              h4 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .vehicle-evaluation,
    .posts-videos,
    .recents-vehicles,
    .lasteds-posts {
      .post-list {
        .post {
          &.size-lg {
            .post-content {
              .post-title {
                h3,
                h4 {
                  font-size: 14px;
                }
              }
              .post-excerpt {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .lasteds-posts {
      .post-list {
        .post {
          &.size-lg {
            .post-content {
              .post-title {
                h4 {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
  .ads .ads-container .ads-square {
    width: 100%;
    height: inherit;
  }
}
