.recents-news {
  .title-section {
    position: relative;
    width: 120px;
    padding: 3px 10px;
    margin: 40px 0 20px;
    h2 {
      font-size: 22px;
      font-weight: 500;
      font-family: "Exo 2";
    }
    &:after {
      border-left: 3px solid var(--primary);
      border-right: 3px solid var(--primary);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transform: skewX(-15deg);
      transform: skewX(-15deg);
    }
  }
  .post-featured {
    position: relative;
    .post-card-thumb {
      width: 100%;
      height: 345px;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      img {
        height: 345px;
        left: -20%;
        position: absolute;
        transition: all ease-in-out 0.3s;
      }
      &:hover {
        img {
          transform: scale(1.1);
          -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
        }
      }
    }
    .post-tag {
      bottom: 15px;
      left: 5px;
      margin-bottom: 0;
      right: 0;
      top: auto;
      border-radius: 3px;
      position: relative;
      text-align: center;
      display: flex;
      width: 130px;
      justify-content: center;
      background: none;
      border: none;
      &::before {
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
        background-color: var(--primary);
        border-radius: 3px;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: box-shadow 0.25s cubic-bezier(0.32, 0.74, 0.57, 1);
        transition: box-shadow 0.25s cubic-bezier(0.32, 0.74, 0.57, 1);
        z-index: 1;
      }
      > span {
        font-size: 1.15em;
        padding: 8px 16px;
        color: #fff;
        position: relative;
        z-index: 2;
      }
      &:hover {
        &::before {
          box-shadow: 0 0 10px var(--primary);
          -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
          transition: box-shadow 0.25s cubic-bezier(0.32, 0.74, 0.57, 1);
        }
      }
    }
    .post-title {
      position: relative;
      margin: 10px 0 15px;
      h3 {
        font-size: 18px;
        font-weight: 600;
        font-family: "Lato";
        cursor: pointer;
        transition: all ease-in-out 0.3s;
      }
      &:hover {
        h3 {
          color: var(--primary);
        }
      }
    }
    .post-metas {
      margin: 15px 0;
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: flex-start;
      .post-date {
        margin-right: 15px;
      }
      .post-date,
      .post-views {
        h6 {
          font-size: 0.8em;
          font-weight: 200;
        }
      }
    }
  }
  .post-list {
    .post-item {
      margin-bottom: 25px;
      .post-card-thumb {
        width: 100%;
        height: 110px;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        img {
          height: 110px;
          left: 0;
          position: absolute;
          transition: all ease-in-out 0.3s;
        }
        &:hover {
          img {
            transform: scale(1.1);
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
          }
        }
      }
      .post-title {
        position: relative;
        margin: 0 0 15px;
        h3 {
          font-size: 16px;
          font-weight: 600;
          font-family: "Lato";
          cursor: pointer;
          transition: all ease-in-out 0.3s;
        }
        &:hover {
          h3 {
            color: var(--primary);
          }
        }
      }
      .post-metas {
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: normal;
        align-items: flex-start;
        .post-date {
          margin-right: 15px;
        }
        .post-date {
          h6 {
            font-size: 0.8em;
            font-weight: 200;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
.form-search {
  background: var(--background);
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: opacity 0.4s;
  .ais-InstantSearch__root {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .ais-SearchBox,
  .ais-Stats {
    padding: 0.5rem 3rem;
  }
  .ais-SearchBox {
    padding-top: 6rem;
  }
  .ais-Stats {
    color: var(--texts);
  }
  body#grid & {
    .ais-Hits-list {
      background-color: var(--borders);
      border-bottom: 1px solid var(--borders);
      border-top: 1px solid var(--borders);
      display: grid;
      grid-area: card;
      grid-gap: 1px;
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
      margin-top: 2rem;
    }
    .ais-Hits-item {
      background-color: var(--background);
    }
  }
  .ais-SearchBox-input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--borders);
    color: var(--texts);
    display: flex;
    font-size: 1.6rem;
    padding: 0.5rem;
    width: 100%;
    padding: 1rem;
    &::placeholder {
      color: var(--texts);
    }
  }
  .ais-SearchBox-submit,
  .ais-SearchBox-reset {
    display: none;
  }
}
