#page {
  .page-institutional {
    .header-institutional {
      height: 140px;
      text-align: center;
      background-image: linear-gradient(#fff, #eee);
      border-top: 2px solid #f0f0f0;
      margin-bottom: 25px;
      .post-title {
        margin: 30px 0;
        h3 {
          font-size: 1.5em;
        }
      }
    }
    .title-section {
      width: 160px;
      z-index: 9;
      position: relative;
      min-width: 160px;
    }
    .button-item {
      padding: 5px 2px;
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 10px;
      span {
        @extend .trans-eio-3s;
        font-size: 1em;
        font-weight: 400;
      }
      .icon {
        min-width: 16px;
        @extend .trans-eio-3s;
      }
      &:hover {
        border-bottom: 1px solid transparent;
        .icon {
          min-width: 28px;
        }
        span {
          color: var(--primary);
        }
      }
    }
    .post-content {
      padding-top: 0;
      .first-letter {
        margin-top: 20px;
      }
    }
  }
}
