.header {
  height: 153px;
  position: relative;
}
.header:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.08);
  z-index: 20;
  pointer-events: none;
}

.toolbar {
  position: relative;
  z-index: 9;
  background-color: var(--primary);
  color: #fff;
  height: 25px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  min-height: inherit !important;
}

.gridSocials {
  position: relative;
}

.boxWeather {
  width: 350px;
  position: absolute;
  right: -77px;
  padding-top: 3px;
  top: -35px;
}

.boxWeather a,
.boxWeather span {
  font-size: 0.9em;
  color: #fff;
}

.toolbarLink {
  position: absolute;
  top: 0;
  left: 0px;
}

.toolbarLink a {
  font-size: 0.85em;
  color: #fff;
  border-right: 1px dotted #fff;
  padding: 0 15px;
  text-decoration: none;
  white-space: nowrap;
}

.toolbarLink a:first-child {
  padding-left: 0;
}

.toolbarLink a:last-child {
  border-right: 0;
}

.middleHeader {
  background-color: var(--secondary);
  padding: 11px 0;
  color: #fff;
}

.boxSocials {
  width: 100%;
  position: relative;
  right: 0px;
  padding-top: 3px;
  top: 10px;
}

.boxSocials a,
.boxSocials span {
  font-size: 0.8em;
  color: #fff;
}

.logo span {
  visibility: hidden;
  position: absolute;
}

.logo link {
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 100%;
  margin-top: 5px;
}

.logo::before {
  content: " ";
  position: absolute;
  height: 40px;
  width: 2px;
  right: -15px;
  top: 10px;
  border-right: 1px dotted #fff;
  display: block;
}

.logoUM1 {
  position: relative;
  top: 10px;
  margin-right: 0;
  left: -20%;
}

.logoUM1 img {
  width: 40px;
}

.logoUM1 h2 {
  font-size: 14px;
  position: absolute;
  left: 50px;
  top: 10px;
}

.formHeader {
  position: relative;
  left: 5px;
  top: 10px;
  height: 40px;
}

.customSelect {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #ffffff0d;
  border-color: #484747;
  color: #ccc;
}

.inputSearch {
  position: relative;
  left: -8px;
  width: auto;
  background: #ffffff0d;
  border-color: #484747;
  color: #ccc;
  font-size: 0.9em;
}

.inputSearch:hover,
.inputSearch:focus {
  background: #fff;
  color: #333;
}

.inputGroupAppend {
  padding: 0;
  position: relative;
  left: -10px;
}

.btnGray {
  font-weight: 600;
  border-color: var(--secondary);
}

.megamenu {
  background: rgba(234, 237, 240, 0.8);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.25s ease;
  padding: 0;
  height: 45px;
}

.megamenu a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none !important;
  font-style: normal;
  color: #232628;
  font-size: 0.8em;
  padding: 17px 5px 12px;
  font-family: "Montserrat", sans-serif;
  width: auto;
  display: inline-block;
  border-bottom: 2px solid rgba(234, 237, 240, 0.8);
  top: 4px;
}
.megamenu a:hover {
  border-bottom: 2px solid var(--primary);
}
.megamenu a:hover > a {
  background-color: var(--primary);
  color: #fff !important;
}
.megamenu a.active {
  border-bottom: 2px solid var(--primary);
}
.megamenu a.active > a {
  font-weight: 600;
}

.blogInfoActive {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary);
  margin-right: 30px;
  position: relative;
  left: 0;
  top: -15px;
}

.blogArrowActive {
  position: relative;
  left: -35px;
  top: -8px;
}

.blogActive {
  left: -40px;
  font-size: 16px !important;
  font-weight: 600 !important;
  position: relative;
  width: 85px;
  top: -15px;
  display: inline-block;
}

.menuActions {
  position: absolute;
  top: -3px;
  right: 0;
}
